<!DOCTYPE html>
    <html lang = "en">
    <head>
        <meta charset = "utf-8">
        <title> Session Creating Assignment </title>
    </head>
    <body>
    <div id = "dynamic"> Greetings!! </div>
    <form action = '/result' method = "post">
        Name <input type = "text" name = "nameText" size="10"/>
        Age <input type = "text" name = "ageText" size="10"/>
        <input type = "submit" name = "submitBtn" value = "Submit Query"/>
        </form> 
    </body> 
</html>