<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product list</title>
</head>
<body>
        <div> add <a href='/tomato'>tomato</a> to Cart</div>
        <div> add <a href='/banana'>banana</a> to Cart</div>
        <div> add <a href='/pumpkin'>pumpkin</a> to Cart</div>  
        
        <div> add <a href='/shoppingcart'>See shoping cart</a> to Cart</div> 
</body>
</html>