<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Registration page</title>
    <link href="css/grid.css" rel= "stylesheet">
</head>
<body>
    <h3> Enter Product Details: </h3> 
    <form id="container" action='/addToCart' method='post'> 
        <div id="item3">Name:</div>
        <div id="item4"><input type='text' name='name'></div>
        <div id="item7">Quantity: </div>
        <div id="item8"><input type='text' name='quantity'></div>
        <div id="item9">Price:</div>
        <div id="item10"> <input type='text' name='price'></div> 
        <div id="item11"><input id= "btn" type="submit" name="submitBtn" value="Add to Cart"></div>                
</form>
</body>
</html>