h1,h2,h3,h4,h5,h6{
    color: #A4A400;
    background-color: #F0F0F0;
    font-family: 'Lucida Sans Unicode', Helvetica, Arial, sans-serif;
    text-decoration: underline;
    letter-spacing: .25em;

  
}

.main-heading{
    font-size: 22pt;
    text-align: center;
}

body{
    background-color: white;
    background-image: url('./images/silverware.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    padding-left: 30px;
}
ul{
    list-style-image: url('./images/pie_icon.gif');
  }

body > p{
color: #404040;
font-size: 11pt;
font-family:  Georgia, Garamond, sans-serif;

}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

.comment{
background-color: #FFFFA8;
}

a{
    color: #A4A400;

}